    body {
        cursor: url("http://www.rw-designer.com/cursor-view/16804.png") 6 24, pointer !important;
        opacity: 0;
        background-color: black;
        animation-name: fadeIn;
        animation-delay: .75s;
        animation-timing-function: ease-in;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
        top: 50%;
    }
    
    .grid {
        max-width: 1000px;
        grid-template-columns: repeat(4, 2fr);
        background-color: aqua;
        gap: 1em;
        position: relative;
        display: grid;
        align-items: center;
        justify-content: center;
        height: 100vh;
        height: auto;
    }
    
    .carta {
        height: 300px;
        width: 200px;
        aspect-ratio: 3/4;
        transition: 0.5s all ease;
        transform-style: preserve-3d;
        border-radius: 10px;
        border: 6px solid transparent;
        overflow: clip;
    }
    
    .face {
        height: 100%;
        width: 100%;
        position: absolute;
        transform: scaleX(-1);
    }
    
    .frente {
        background-color: rgb(250, 13, 151);
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .costas {
        transform: rotateY(180deg);
        background-image: url('../assets/images/backgroundimg.jpg');
        background-size: cover;
        background-position: center;
        z-index: 1;
        transform: translateZ(1px);
        backface-visibility: hidden;
    }
    
    .carta:hover {
        scale: 1.02;
        border-radius: 10px;
        border: 6px solid blue;
    }
    
    .carta-selected {
        border: 6px solid lime;
    }
    
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            background-color: white;
            opacity: 1;
        }
    }