body {
    cursor: url("http://www.rw-designer.com/cursor-view/16804.png") 6 24, pointer !important;
    opacity: 0;
    background-color: black;
    animation-name: fadeIn;
    animation-delay: 0.75s;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    gap: 1rem;
    color: crimson;
    font-weight: 700;
    position: fixed;
    z-index: 1;
    background-color: black;
    font-size: xx-large;
    width: 100%;
    height: 100vh;
    opacity: 0;
    z-index: -1;
    transition: 3s opacity ease-in-out;
}

._showModal {
    opacity: 1;
    z-index: 1;
}

.modal>h1 {
    margin: 0;
    padding: 0;
}

.modal>img {
    transform: scale(0);
    filter: grayscale(-1) brightness(-100%);
}

._showImage {
    animation-name: show;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-duration: 6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-delay: 0.1s;

}

@keyframes show {
    from {
        /* background-clip: content-box;
        filter: grayscale(0) brightness(0%);
        opacity: 0; */
    }

    100% {
        filter: grayscale(1) brightness(1000%);
        transform: scale(1);
    }
}

.grid {
    grid-template-columns: repeat(4, 150px);
    background-size: contain;
    background-clip: border-box;
    background-repeat: repeat;
    background-position: center;
    background-image: url("/assets/images/bg-grid-svg.svg");
    row-gap: 1.6rem;
    display: grid;
    height: max-content;
    place-items: center;
    justify-content: space-around;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 16px 12px rgba(0, 0, 0, 0.15);
}


._selected {
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation-name: float;
    animation-timing-function: ease-in-out;
    animation-duration: 1.24s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: alternate-reverse;
    animation-delay: 0.1s;
}

._correta {
    animation-name: spin;
    animation-timing-function: linear;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-delay: 0.1s;
}

._death {
    animation-name: spinHorizontal;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-delay: 0.1s;
}

@keyframes spinHorizontal {
    0% {
        transform: rotatex(0deg);
    }

    100% {
        transform: rotate3d(0, 0, 1, 360deg) rotate3d(0, 0, 1, 360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotate3d(0, 1, 0, 360deg) rotate3d(0, 0, 1, 360deg);
    }
}

@keyframes float {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 4px);
    }

    100% {
        transform: translate(0, -0px);
    }
}


.carta {
    justify-self: center;
    height: 150px;
    width: 100px;
    aspect-ratio: 3/4;
    transform-style: preserve-3d;
    border-radius: 10px;
    border: 6px solid transparent;
    overflow: clip;
    transition: 0.3s all ease-in-out;
    filter: drop-shadow(0 0 0.75rem rgba(76, 0, 130, 0.4));
    perspective: 500px;
    /* perspective: 500px; */
}

.face {
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: .75s all ease-in-out;
    /* transform: scaleX(-1); */
}

.frente {
    background-position: center;
    background-size: 150%;
    background-image: url("../assets/images/backgroundimg.jpg");
}

.costas {
    background-repeat: no-repeat;
    background-position: center;
    backface-visibility: hidden;
    background-color: blue;
}


.carta:hover {
    scale: 1.03;
}

.frente-flip {
    /* background-color: #fff; */
    transform: rotateY(180deg);
}

.costas-flip {
    transform: rotateY(360deg);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        background-color: white;
        opacity: 1;
    }
}